<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- Sidebar -->

    </div>

    <div class="col-md-10">
      <!-- Body -->

      <div class="lti-totals"></div>

      <section class="activity">
        <div>
          <label>
            <input type="radio" ng-model="period" value="7">
            <span>1 week</span>
          </label>

          <label>
            <input type="radio" ng-model="period" value="14">
            <span>2 weeks</span>
          </label>

          <label>
            <input type="radio" ng-model="period" value="30">
            <span>1 month</span>
          </label>

          <label>
            <input type="radio" ng-model="period" value="90">
            <span>3 months</span>
          </label>

          <label>
            <input type="radio" ng-model="period" value="180">
            <span>6 months</span>
          </label>
        </div>

        <div>
          <label>
            <input type="checkbox" ng-model="activeUsers">
            <span>Active Users</span>
          </label>

          <label>
            <input type="checkbox" ng-model="tagsCreated">
            <span>Tags Created</span>
          </label>

          <label>
            <input type="checkbox" ng-model="annotationsCreated">
            <span>Annotations Created</span>
          </label>
        </div>


        <div class="lti-activity-legend"></div>

        <div id="activity" class="lti-activity">
        </div>
      </section>
    </div>

  </div>

</div>

