<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- Sidebar -->

    </div>

    <div class="col-md-10">
      <!-- Body -->

      <div class="lti-totals"></div>

      <section class="activity">
        <label>
          <input type="radio" ng-model="period" value="7" name="period">
          <span>1 week</span>
        </label>

        <label>
          <input type="radio" ng-model="period" value="14" name="period">
          <span>2 weeks</span>
        </label>

        <label>
          <input type="radio" ng-model="period" value="30" name="period">
          <span>3 month</span>
        </label>

        <div id="activity" class="lti-activity" ng-model="period"></div>
      </section>
    </div>

  </div>

</div>

